<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>List Product</h1>
<a href="/api/products/create">Create new product</a>
<p th:if="${message}" th:text="${message}"></p>
<table border="1">
    <tr>
        <th>STT</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Producer</th>
        <th colspan="2"></th>
    </tr>
    <tr th:each="p, status: ${products}">
        <td th:text="${status.count}"></td>
        <td th:text="${p.name}"></td>
        <td th:text="${p.price}"></td>
        <td th:text="${p.description}"></td>
        <td th:text="${p.producer}"></td>
        <td><a th:href="@{/api/products/update/{id}(id= ${p.id})}">Update</a></td>
        <td><a th:href="@{/api/products/delete/{id}(id= ${p.id})}">Delete</a></td>
    </tr>
</table>

</body>
</html>